# Topcoder Error Logger

## Step to run tests
1. run `source env.sh` to initialize process environment
2. run `npm run test` to run unit tests
3. run `npm run cov` to run unit tests and generate coverage report
4. run `npm run e2e` to run e2e tests
5. run `npm run e2e-cov` to run e2e tests and generate coverage report

## Unit Tests Coverage Report

  41 passing (645ms)

File                         |  % Stmts | % Branch |  % Funcs |  % Lines | Uncovered Line #s
-----------------------------|----------|----------|----------|----------|-------------------
All files                    |    98.94 |    97.44 |      100 |    98.94 |
 topcoder-error-logger     |      100 |      100 |      100 |      100 |
  index.js                   |      100 |      100 |      100 |      100 |
 topcoder-error-logger/src |    98.82 |    97.44 |      100 |    98.82 |
  constants.js               |      100 |      100 |      100 |      100 |
  logger.js                  |    98.78 |    97.44 |      100 |    98.78 |                62

## E2E Tests Coverage Report

  43 passing (11s)

File                         |  % Stmts | % Branch |  % Funcs |  % Lines | Uncovered Line #s
-----------------------------|----------|----------|----------|----------|-------------------
All files                    |    98.94 |    97.44 |      100 |    98.94 |
 topcoder-error-logger     |      100 |      100 |      100 |      100 |
  index.js                   |      100 |      100 |      100 |      100 |
 topcoder-error-logger/src |    98.82 |    97.44 |      100 |    98.82 |
  constants.js               |      100 |      100 |      100 |      100 |
  logger.js                  |    98.78 |    97.44 |      100 |    98.78 |                62
